.main {
    margin-bottom: 80px;
}

.main__content {
    border-radius: 5px;
    background: url(/img/bg_main.png) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 438px;
    width: 100%;
    height: 100%;
}

@media (max-width: 520px) {
    .main__content {
        background: url(/img/adap.png)right no-repeat;
        background-size: 500px;
        background-position-x: 110px;
        /* background: rgb(240,240,240);
        background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(197,204,213,1) 100%); */
    }
}

@media (max-width: 320px) {
    .main__content {
        background: url(/img/adap.png)right no-repeat;
        background-size: 500px;
        background-position-x: 60px;
        /* background: rgb(240,240,240);
        background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(197,204,213,1) 100%); */
    }
}

.main__item {
    width: 32%;
    display: inline-block;
    margin: 50px 0 50px 90px;
}

@media (max-width: 770px) {
    .main__item {
        width: 40%;
        margin: 50px 0 50px 15px;

    }
}

@media (max-width: 520px) {
    .main__item {
        width: 50%;
        margin: 50px 0 50px 30px;

    }
}

@media (max-width: 300px) {
    .main__item {
        margin-left: 20px;
    }
}

.main__logo {
    width: 100%;
    max-width: 252px;
    margin-bottom: 40px;
}

@media (max-width: 520px) {
    .main__logo {
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .main__logo {
        margin-bottom: 20px;
    }
}

.main__title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #921026;
    font-family: 'Playfair Display', serif;

    margin-bottom: 40px;
}

@media (max-width: 520px) {
    .main__title {
        text-align: center;
        margin-bottom: 20px;
    }
}

.main__text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300px;
    letter-spacing: 0.025em;
    color: #000000;

    margin-bottom: 40px;
}

@media (max-width: 520px) {
    .main__text {
        border: 2px solid #B0DAB9;
        border-radius: 7px;
        font-weight: 600;
        color: transparent;
        background: linear-gradient(90deg, rgba(196, 162, 45, 1) 0%, rgba(204, 120, 0, 1) 63%, rgba(101, 61, 4, 1) 95%);
        -webkit-background-clip: text;
        padding: 15px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.main__button {
    border: 2px solid #eaeaea;
    border-radius: 5px;
    background: none;
    padding: 7px 10px;

    transition: .8s;
}

.main__button:hover {
    color: palegoldenrod;
    background: #990052;
}